body{
    margin-left: 20px;
}
.chat{
    background-color: aliceblue;
    padding: 20px;
    display: inline-block;
    border-radius: 20px;
}
.msg{
    background-color: dodgerblue;
    color: white;
    padding: 5px;
    border-radius: 10px;
}
